# Project specific
docs/.build
.coverage
htmlcov/

# Python specific
*.pyc
dist
build
*.egg-info
__pycache__
.idea/
*.html
.DS_Store

# setuptools_scm version discovery writes the version to <pkg>/_version.py
**/_version.py
